* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: white; }

input, textarea {
  outline: none; }

@font-face {
  font-family: squarespace;
  src: url(../assets/fonts/squarespace-ui-font.ttf); }

body {
  font-family: 'lato',sans-serif; }

ul {
  list-style: none; }

label {
  font-weight: 400; }

.control-label {
  font-weight: bold; }

@keyframes slide {
  0% {
    left: 0%; }
  17% {
    left: 0%; }
  20% {
    left: -100%; }
  37% {
    left: -100%; }
  40% {
    left: -200%; }
  57% {
    left: -200%; }
  60% {
    left: -300%; }
  77% {
    left: -300%; }
  80% {
    left: -400%; }
  100% {
    left: -400%; } }

.navbar {
  color: white; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 0;
  color: white;
  transition: background-color 1.2s ease; }
  .navbar-default .navbar-toggle {
    border: 0; }
  .navbar-default .navbar-nav li a {
    color: #000;
    font-size: 1.3em;
    font-weight: lighter; }
  .navbar-default .navbar-header a {
    color: #000;
    font-size: 2.1em;
    font-weight: lighter; }
  .navbar-default .navbar-header .navbar-brand img {
    display: block;
    height: 100%; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: transparent; }

/* opaque navbar */
.navbar-default.opaque {
  background-color: #353535 !important;
  transition: background-color 0.8s ease; }
  .navbar-default.opaque .navbar-toggle .icon-bar {
    background-color: #eee; }
  .navbar-default.opaque .navbar-nav li a {
    color: #eee;
    font-size: 1.3em;
    font-weight: lighter; }
  .navbar-default.opaque .navbar-header a {
    color: #eee;
    font-size: 2.1em;
    font-weight: lighter; }

ul.dropdown-menu {
  background-color: black; }

#banner {
  width: 100vw;
  height: 100vh; }
  #banner .container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; }
    #banner .container #banner-image {
      height: 100%;
      overflow: hidden; }
      #banner .container #banner-image figure {
        position: relative;
        width: 500%;
        height: 100%;
        margin: 0;
        left: 0;
        text-align: left;
        animation: linear 40s slide infinite none; }
        #banner .container #banner-image figure .banner-div {
          height: 100%;
          width: 20%;
          position: relative;
          float: left;
          background-position-x: center;
          background-size: cover;
          background-attachment: fixed; }
          #banner .container #banner-image figure .banner-div .banner-text {
            z-index: 200;
            position: absolute;
            top: 40%;
            left: 10%; }
            #banner .container #banner-image figure .banner-div .banner-text .hero-text {
              opacity: 0.8;
              background-color: #dfdfdf;
              min-height: 10px;
              font-size: 3.2em;
              width: 350px;
              color: #000; }
            #banner .container #banner-image figure .banner-div .banner-text .sub-text {
              margin-top: 20px;
              opacity: 0.8;
              background-color: #dfdfdf;
              height: auto;
              font-size: 1.7em;
              width: 500px;
              color: #000;
              padding: 10px; }
      #banner .container #banner-image #down-button:after {
        content: "\e02d";
        display: inline-block;
        position: absolute;
        font-family: 'squarespace';
        bottom: 0;
        z-index: 100;
        transform: rotate(90deg);
        color: #fff;
        width: 100%;
        text-align: center;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        font-size: 42px; }

#about {
  height: 700px;
  overflow: hidden; }
  #about .container {
    padding-top: 20px; }
    #about .container header#about-header {
      width: 100%;
      height: 10vh;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 4em;
      font-weight: 300; }
    #about .container .row {
      height: 300px; }
      #about .container .row .about-image img {
        width: 400px; }
      #about .container .row .about-content {
        font-size: 20px;
        color: #9a9a9a;
        font-weight: lighter;
        text-align: justify; }
        #about .container .row .about-content #vision {
          font-size: 28px;
          font-weight: 300;
          margin-top: 15px;
          margin-bottom: 7px;
          color: #000000;
          text-align: center; }

#counter {
  height: 200px;
  width: 100%;
  background-image: url(../images/front-page-counter.jpg);
  background-origin: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed; }
  #counter .container {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }
    #counter .container .row {
      margin-top: 60px;
      color: #eee;
      font-weight: 600; }
      #counter .container .row .counter-value {
        border-right: 2px solid #c8c8c8;
        font-size: 4em;
        padding-left: 10%; }
        #counter .container .row .counter-value:nth-child(3) {
          border-right: 0; }

#programs {
  width: 100%;
  background: #efefef;
  padding: 20px 0 40px 0;
  text-align: center;
  overflow: hidden; }
  #programs .container-fluid {
    padding: 0 40px;
    max-width: 1120px; }
    #programs .container-fluid header {
      width: 100%;
      height: 10vh;
      margin-top: 30px;
      margin-bottom: 40px;
      text-align: center;
      font-size: 4em;
      font-weight: 300; }
    #programs .container-fluid .row {
      margin-bottom: 20px; }
      #programs .container-fluid .row .uppertext {
        color: #1f1f1f;
        text-transform: uppercase;
        font-size: 20px;
        text-align: left; }
      #programs .container-fluid .row .lowertext {
        margin-top: 0px;
        color: #787878;
        text-transform: capitalize;
        font-size: 15px;
        text-align: left; }
      #programs .container-fluid .row #programs_image {
        height: 400px;
        margin-top: 20px;
        margin-bottom: 20px; }
    #programs .container-fluid .non-highlight {
      opacity: 0.3 !important;
      cursor: pointer;
      transition: 0.4s 0s !important; }
    #programs .container-fluid .non-highlight.highlight {
      opacity: 1 !important;
      cursor: pointer;
      transition: 0.4s 0s !important; }
    #programs .container-fluid .background1 {
      background-image: url("https://s3.ap-south-1.amazonaws.com/konfinity-website-images/group_discussion.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out; }
    #programs .container-fluid .background2 {
      background-image: url("https://s3.ap-south-1.amazonaws.com/konfinity-website-images/Curious.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out; }
    #programs .container-fluid .background3 {
      background-image: url("https://s3.ap-south-1.amazonaws.com/konfinity-website-images/creative.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out; }

@media screen and (max-width: 992px) {
  #programs {
    width: 100%;
    background: #efefef;
    padding: 10px 0 40px 0;
    text-align: center;
    overflow: hidden; }
    #programs .container-fluid {
      position: relative; }
      #programs .container-fluid header {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 3em;
        font-weight: 300; }
      #programs .container-fluid .row {
        margin-bottom: 20px; }
        #programs .container-fluid .row #program_text {
          position: absolute;
          z-index: 100;
          bottom: 40px;
          left: 0;
          margin: 0 auto;
          padding: 0; }
          #programs .container-fluid .row #program_text .row {
            margin: 0px 25px;
            padding: 10px;
            background: rgba(0, 0, 0, 0.7); }
            #programs .container-fluid .row #program_text .row .uppertext {
              color: #fff !important;
              text-transform: uppercase;
              font-size: 20px;
              text-align: center; }
            #programs .container-fluid .row #program_text .row .lowertext {
              margin-top: 0px;
              color: #ababab;
              text-transform: capitalize;
              font-size: 15px;
              text-align: center; }
            #programs .container-fluid .row #program_text .row:hover .uppertext {
              font-size: 24px;
              transition: font-size 0.1s ease-in; }
            #programs .container-fluid .row #program_text .row:hover .lowertext {
              font-size: 16px;
              transition: font-size 0.2s ease; }
        #programs .container-fluid .row #programs_image {
          height: 600px;
          margin-top: 20px;
          position: relative;
          padding: 0;
          margin-bottom: 20px; }
        #programs .container-fluid .row .nav-buttons {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          margin: 0;
          transform: translateY(-50%);
          height: 100px;
          width: 100%; }
          #programs .container-fluid .row .nav-buttons .prev {
            color: black;
            height: 100px;
            width: 40px;
            box-shadow: -6px 0px 20px 0px grey;
            background: #fff;
            float: left; }
          #programs .container-fluid .row .nav-buttons .next {
            float: right;
            color: black;
            box-shadow: 6px 0px 20px 0px grey;
            height: 100px;
            width: 40px;
            background: #fff; }
      #programs .container-fluid .non-highlight {
        display: none !important;
        cursor: pointer;
        transition: all 0.4s !important; }
      #programs .container-fluid .non-highlight.highlight {
        display: block !important;
        cursor: pointer;
        transition: all 0.4s !important; } }

@media (min-width: 480px) and (max-width: 992px) {
  #counter {
    height: 150px; }
    #counter .container .row {
      margin-top: 40px; }
      #counter .container .row .counter-value {
        font-size: 3em; }
  #banner #banner-image figure .banner-div {
    background-attachment: scroll;
    background-position: center !important; } }

@media screen and (max-width: 768px) {
  #footer .container .row .main-links {
    text-align: center; }
    #footer .container .row .main-links .links li .link-icon {
      display: none; }
  #footer .container .row .form form #send-button {
    float: none; } }

@media screen and (max-width: 479px) {
  #counter {
    height: 120px; }
    #counter .container .row {
      margin-top: 40px; }
      #counter .container .row .counter-value {
        font-size: 2.1em;
        font-weight: 500; }
  #banner .container #banner-image figure .banner-div {
    background-attachment: scroll;
    background-position: center !important; }
    #banner .container #banner-image figure .banner-div .banner-text {
      z-index: 200;
      position: absolute;
      top: 30%;
      left: 10px; }
      #banner .container #banner-image figure .banner-div .banner-text .hero-text {
        opacity: 0.8;
        background-color: #dfdfdf;
        min-height: 10px;
        font-size: 22px;
        width: 130px;
        color: #000; }
      #banner .container #banner-image figure .banner-div .banner-text .sub-text {
        margin-top: 5px;
        opacity: 0.8;
        background-color: #dfdfdf;
        height: auto;
        font-size: 17px;
        max-width: 320px;
        color: #000;
        padding: 2px; }
  #about {
    height: 600px;
    overflow: hidden; }
    #about .container {
      padding-top: 0px; }
      #about .container header#about-header {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
        font-size: 2.1em;
        font-weight: 300; }
      #about .container .row {
        height: 300px; }
        #about .container .row .about-image img {
          width: 400px; }
        #about .container .row .about-content {
          font-size: 16px;
          color: #9a9a9a;
          font-weight: lighter;
          text-align: justify; }
          #about .container .row .about-content #vision {
            font-size: 22px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 7px;
            color: #535353;
            text-align: center; }
  #programs {
    width: 100%;
    background: #efefef;
    padding: 10px 0 40px 0;
    text-align: center;
    overflow: hidden; }
    #programs .container-fluid header {
      width: 100%;
      height: auto;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      font-size: 2.1em;
      font-weight: 300; }
    #programs .container-fluid .row {
      margin-bottom: 20px; }
      #programs .container-fluid .row .uppertext {
        color: #1f1f1f;
        text-transform: uppercase;
        font-size: 20px;
        text-align: left; }
      #programs .container-fluid .row .lowertext {
        margin-top: 0px;
        color: #787878;
        text-transform: capitalize;
        font-size: 15px;
        text-align: left; }
      #programs .container-fluid .row #programs_image {
        height: 500px;
        margin-top: 20px;
        margin-bottom: 20px; } }

/*
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
    opacity: 1;
    -webkit-transition: none .2s linear;
    -moz-transition: none .2s linear;
    -o-transition: none .2s linear;
    transition: none .2s linear;
*/
#footer {
  padding: 30px 0 0 0;
  background: #f2f2f2;
  text-align: left; }
  #footer .container {
    margin-left: auto;
    margin-right: auto; }
  #footer .main-links {
    text-align: left;
    padding-bottom: 20px; }
    #footer .main-links .links li {
      margin: 10px 0 20px 0;
      font-size: 1.3em;
      font-size: 14px;
      color: #1B2733;
      letter-spacing: 0.2px; }
      #footer .main-links .links li:first-child {
        margin-top: 0; }
      #footer .main-links .links li .link-icon {
        display: inline-block;
        width: 15px;
        text-align: center;
        margin-right: 9px; }
        #footer .main-links .links li .link-icon i {
          font-size: 12px; }
  #footer .categories-links {
    padding-bottom: 20px; }
    #footer .categories-links header {
      text-transform: uppercase;
      margin-bottom: 18px;
      font-size: 14px;
      color: #1B2733;
      letter-spacing: 0.2px;
      font-weight: bold; }
    #footer .categories-links .links {
      display: inline-block;
      list-style: none; }
      #footer .categories-links .links li {
        margin: 10px 0 20px 0;
        font-size: 12px;
        color: #1B2733;
        letter-spacing: 0.2px; }
        #footer .categories-links .links li:first-child {
          margin-top: 0; }
    #footer .categories-links .links-right {
      margin-left: 26px;
      vertical-align: top; }
  #footer .form header {
    text-transform: uppercase;
    margin-bottom: 18px;
    font-size: 14px;
    color: #1B2733;
    letter-spacing: 0.2px;
    font-weight: bold; }
  #footer .form input {
    color: #404142;
    border: 1px solid #979797;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #32485F;
    letter-spacing: 0.17px;
    padding: 10px; }
    #footer .form input::placeholder {
      opacity: 1;
      font-size: 14px;
      color: #32485F;
      letter-spacing: 0.17px; }
  #footer .form .message {
    resize: none;
    color: #404142;
    border: 1px solid #979797;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 127px;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 10px; }
    #footer .form .message::placeholder {
      font-size: 12px;
      color: #32485F;
      letter-spacing: 0.12px; }
  #footer .form #send-button {
    float: right;
    width: 117px;
    height: 42px;
    background: #737373;
    border-radius: 2px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    text-transform: uppercase; }
  #footer .social-media #facebook-login {
    height: 36px;
    margin-top: 40px;
    background: #3A6CD2;
    border-radius: 2px; }
    #footer .social-media #facebook-login i {
      margin: 9px 0px 9px 14px;
      font-size: 16px; }
    #footer .social-media #facebook-login span {
      margin-left: 11px;
      font-size: 12px;
      display: inline-block;
      margin-top: 10px;
      color: #FFFFFF;
      letter-spacing: 0.17px; }
  #footer .footer-black {
    width: 100%;
    height: 40px;
    background: #737373;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    color: #eee;
    letter-spacing: 0.15px;
    float: left; }

#login-signup {
  height: 100vh;
  margin-left: auto;
  margin-right: auto; }
  #login-signup a {
    text-decoration: none;
    color: #737373;
    transition: .5s ease; }
    #login-signup a:hover {
      color: #666666; }
  #login-signup .tab-group.parent {
    margin-left: auto;
    max-width: 400px;
    margin-right: auto;
    position: relative; }
    #login-signup .tab-group.parent:after {
      content: "";
      display: none;
      clear: both; }
  #login-signup .form {
    background: rgba(238, 240, 243, 0.9);
    padding: 40px;
    max-width: 400px;
    margin: 80px auto;
    border-radius: 4px;
    box-shadow: 0px 1px 20px 0px rgba(78, 78, 78, 0.3); }
  #login-signup .tab-group {
    list-style: none;
    padding: 0;
    margin: 20px 0 20px 0; }
    #login-signup .tab-group:after {
      content: "";
      display: table;
      clear: both; }
    #login-signup .tab-group li a {
      display: block;
      text-decoration: none;
      padding: 5px;
      background: rgba(128, 128, 128, 0.4);
      color: rgba(0, 0, 0, 0.85);
      font-size: 16px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      transition: .5s ease; }
      #login-signup .tab-group li a:hover {
        background: #666666;
        color: #fff; }
    #login-signup .tab-group .active a {
      background: #737373;
      color: #fff; }
  #login-signup .tab-content > div:last-child {
    display: none; }
  #login-signup h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 300;
    margin: 0 0 20px; }
  #login-signup label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.2px;
    word-spacing: 1.2px;
    font-weight: 500;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 14px; }
    #login-signup label .req {
      margin: 2px;
      color: #737373; }
  #login-signup label.active {
    transform: translateY(-20px);
    left: 2px;
    font-size: 14px; }
    #login-signup label.active .req {
      opacity: 0; }
  #login-signup label.highlight {
    color: rgba(0, 0, 0, 0.85); }
  #login-signup input, #login-signup textarea {
    font-size: 14px;
    display: block;
    width: 100%;
    height: 33px;
    padding: 5px 10px;
    background: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.85);
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease; }
    #login-signup input:focus, #login-signup textarea:focus {
      outline: 0;
      border-color: #737373; }
  #login-signup textarea {
    border: 2px solid #a0b3b0;
    resize: vertical; }
  #login-signup .field-wrap {
    position: relative;
    margin-bottom: 30px; }
  #login-signup .top-row:after {
    content: "";
    display: table;
    clear: both; }
  #login-signup .top-row > div {
    float: left;
    width: 100%;
    margin-right: 4%; }
    #login-signup .top-row > div:last-child {
      margin-right: 0; }
  #login-signup .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1em;
    background: #737373;
    color: rgba(0, 0, 0, 0.85);
    transition: all 0.5s ease;
    -webkit-appearance: none; }
    #login-signup .button:hover, #login-signup .button:focus {
      background: #666666; }
  #login-signup .agreement {
    line-height: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.55);
    font-size: 13px;
    text-align: center;
    display: block;
    margin: 16px 16px 8px; }
  #login-signup .button-block {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 16px;
    letter-spacing: .4px;
    font-weight: 500; }
  #login-signup .forgot {
    margin-top: -20px;
    text-align: right; }

#internships {
  height: 900px;
  margin-top: 50px;
  margin-bottom: 30px; }
  #internships .container-fluid {
    background: #fff;
    height: 100%;
    max-width: 1200px; }
    #internships .container-fluid header {
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd; }
    #internships .container-fluid .row {
      margin-top: 20px;
      height: 100%; }
      #internships .container-fluid .row .filters {
        height: 80%;
        padding-right: 20px;
        border-right: 1px solid #ddd; }
      #internships .container-fluid .row .listings {
        overflow: scroll;
        max-height: 800px; }
        #internships .container-fluid .row .listings .individual-intern {
          border-bottom: 1px solid #ddd;
          padding: 10px 0; }
          #internships .container-fluid .row .listings .individual-intern .container-fluid header {
            border-bottom: 0;
            padding: 0; }
          #internships .container-fluid .row .listings .individual-intern .container-fluid .row {
            margin-top: 10px;
            margin-bottom: 10px; }
          #internships .container-fluid .row .listings .individual-intern .container-fluid .button-row {
            margin-top: 20px; }
            #internships .container-fluid .row .listings .individual-intern .container-fluid .button-row button {
              width: 120px;
              border-radius: 0;
              font-size: 16px;
              border: 0;
              background: #737373;
              color: #eee; }

#dashboard {
  max-height: 900px;
  margin-top: 60px;
  margin-bottom: 30px; }
  #dashboard .container-fluid {
    background: #fff;
    height: 100%;
    padding: 0;
    max-width: 1200px; }
    #dashboard .container-fluid header {
      font-size: 24px;
      font-weight: 500;
      padding: 10px 20px 10px 20px;
      border-bottom: 1px solid #ddd;
      background: #aaa;
      color: #fff; }
    #dashboard .container-fluid .row {
      margin-left: 0;
      margin-top: 0px;
      height: 100%; }
      #dashboard .container-fluid .row .options {
        height: 80%;
        min-height: 600px;
        background-color: #ccc;
        padding-right: 20px;
        padding-top: 20px;
        border-right: 1px solid #ddd; }
        #dashboard .container-fluid .row .options .container-fluid {
          background: transparent; }
          #dashboard .container-fluid .row .options .container-fluid .row {
            height: 50px;
            border-bottom: 2px solid #ccc; }
            #dashboard .container-fluid .row .options .container-fluid .row div {
              padding: 0;
              margin-left: 0; }
              #dashboard .container-fluid .row .options .container-fluid .row div span {
                font-weight: 600;
                font-size: 16px; }
              #dashboard .container-fluid .row .options .container-fluid .row div:hover {
                cursor: pointer; }
      #dashboard .container-fluid .row .internships {
        overflow: scroll;
        padding-top: 20px;
        max-height: 800px; }
        #dashboard .container-fluid .row .internships .individual-intern {
          border-bottom: 1px solid #ddd;
          padding: 10px 0; }
          #dashboard .container-fluid .row .internships .individual-intern .container-fluid header {
            border-bottom: 0;
            padding: 0;
            background: #ccc;
            color: #111; }
          #dashboard .container-fluid .row .internships .individual-intern .container-fluid .row {
            margin-top: 10px;
            margin-bottom: 10px; }
            #dashboard .container-fluid .row .internships .individual-intern .container-fluid .row .title {
              font-size: 16px;
              font-weight: 600;
              color: #000;
              margin-bottom: 10px; }
          #dashboard .container-fluid .row .internships .individual-intern .container-fluid .button-row {
            margin-top: 20px; }
            #dashboard .container-fluid .row .internships .individual-intern .container-fluid .button-row button {
              width: 120px;
              border-radius: 0;
              font-size: 16px;
              border: 0;
              background: #737373;
              color: #eee; }

@media screen and (max-width: 768px) {
  #dashboard .container-fluid .row .options {
    height: 0; } }
#internships .container-fluid .row .filters {
        height: 0;
        padding-right: 20px;
        border-right: 1px solid #ddd; }

#intern_posting {
  margin-top: 70px; }
  #intern_posting .container-fluid .max-width-container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto; }
    #intern_posting .container-fluid .max-width-container #content-inner {
      margin-left: auto;
      margin-right: auto; }
      #intern_posting .container-fluid .max-width-container #content-inner p.text-center a {
        color: #337ab7; }
      #intern_posting .container-fluid .max-width-container #content-inner #form-container .section {
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        padding: 15px 20px;
        margin-bottom: 30px; }
        #intern_posting .container-fluid .max-width-container #content-inner #form-container .section h5 {
          text-align: center;
          margin-bottom: 40px;
          font-size: 18px; }
        #intern_posting .container-fluid .max-width-container #content-inner #form-container .section .head_label {
          font-weight: bold; }
      #intern_posting .container-fluid .max-width-container #content-inner #form-container #about_section #profile-container .profile_radio_container .profile_radio {
        width: 50%;
        float: left; }
      #intern_posting .container-fluid .max-width-container #content-inner #form-container #about_section #profile-container .profile_input_container {
        margin-top: 33px; }
        #intern_posting .container-fluid .max-width-container #content-inner #form-container #about_section #profile-container .profile_input_container label {
          width: 100%; }
          #intern_posting .container-fluid .max-width-container #content-inner #form-container #about_section #profile-container .profile_input_container label input {
            margin-bottom: 5px; }
      #intern_posting .container-fluid .max-width-container #content-inner #form-container #description_section .form-group #jd_container_inner textarea {
        resize: none;
        height: 150px; }
      #intern_posting .container-fluid .max-width-container #content-inner #form-container #stipend_perks_section .form-group .control-label {
        font-weight: bold; }
      #intern_posting .container-fluid .max-width-container #content-inner #form-container #stipend_perks_section .form-group div label {
        min-width: 100px; }
      #intern_posting .container-fluid .max-width-container #content-inner #form-container #stipend_perks_section .form-group #stipendvalue {
        max-width: 400px; }
        #intern_posting .container-fluid .max-width-container #content-inner #form-container #stipend_perks_section .form-group #stipendvalue .stipendvalue_component {
          padding: 0; }
          #intern_posting .container-fluid .max-width-container #content-inner #form-container #stipend_perks_section .form-group #stipendvalue .stipendvalue_component input {
            width: 100%;
            margin: 0; }
          #intern_posting .container-fluid .max-width-container #content-inner #form-container #stipend_perks_section .form-group #stipendvalue .stipendvalue_component select {
            width: 100%;
            margin: 0; }
