<!DOCTYPE html>
<html >
<head>
  <% include ../partials/_header.ejs%>
</head>

<body style="">
<!-- NavBar  -->
<% include ../partials/_navbar1.ejs%>

<!--Dashboard-->
<% include partials/dashboard.ejs%>

<!-- Footer   -->
<%include ../partials/_footer_content.ejs%>
   
<%include ../partials/_footer_script.ejs%>
</body>
</html>
