<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>E-Cell IITD</title>
<link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="../../styles/animate.css">
<link rel="stylesheet" href="../../styles/bootstrap.css">
<link rel="stylesheet" href="../../styles/styles.css">
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>