<section id="internships">
<div class="container-fluid">
    <header>Internships</header>
    <div class="row">
        <div class="filters col-md-2 col-sm-2 xs-hidden"></div>
        <div class="listings col-md-8 col-sm-10 col-xs-12">
            <div class="individual-intern">
                <div class="container-fluid">
                    <header>
                        <div class="work">Full-Stack Developer</div>
                        <div class="hiring-company">Google</div>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            Location(s):<span class="location">
                                Bangalore
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Duration</div>
                            <div class="content">6 Months</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Stipend</div>
                            <div class="content">20000</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Posted On</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Apply By</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="individual-intern">
                <div class="container-fluid">
                    <header>
                        <div class="work">Full-Stack Developer</div>
                        <div class="hiring-company">Google</div>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            Location(s):<span class="location">
                                Bangalore
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Duration</div>
                            <div class="content">6 Months</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Stipend</div>
                            <div class="content">20000</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Posted On</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Apply By</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="individual-intern">
                <div class="container-fluid">
                    <header>
                        <div class="work">Full-Stack Developer</div>
                        <div class="hiring-company">Google</div>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            Location(s):<span class="location">
                                Bangalore
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Duration</div>
                            <div class="content">6 Months</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Stipend</div>
                            <div class="content">20000</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Posted On</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Apply By</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="individual-intern">
                <div class="container-fluid">
                    <header>
                        <div class="work">Full-Stack Developer</div>
                        <div class="hiring-company">Google</div>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            Location(s):<span class="location">
                                Bangalore
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Duration</div>
                            <div class="content">6 Months</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Stipend</div>
                            <div class="content">20000</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Posted On</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Apply By</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="individual-intern">
                <div class="container-fluid">
                    <header>
                        <div class="work">Full-Stack Developer</div>
                        <div class="hiring-company">Google</div>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            Location(s):<span class="location">
                                Bangalore
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Duration</div>
                            <div class="content">6 Months</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Stipend</div>
                            <div class="content">20000</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Posted On</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Apply By</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="individual-intern">
                <div class="container-fluid">
                    <header>
                        <div class="work">Full-Stack Developer</div>
                        <div class="hiring-company">Google</div>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            Location(s):<span class="location">
                                Bangalore
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Duration</div>
                            <div class="content">6 Months</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Stipend</div>
                            <div class="content">20000</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Posted On</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Apply By</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe col-md-2 sm-hidden"></div>
    </div>
</div>
</section>