<!DOCTYPE html>
<html lang="en">
<head>
<%include partials/_header.ejs%>
</head>
<body>
<!-- NavBar  -->
<%include partials/_navbar.ejs%>
<!--Banner Container-->
<%include home_partials/banner.ejs%>
<!-- About Us Content   -->
<%include home_partials/about_us.ejs%>
<!-- Programs   -->
<%include home_partials/programs.ejs%>
<!-- Team Section -->
<%include home_partials/team_section.ejs%>
<!-- Counter -->
<%include home_partials/counter.ejs%>
<!-- Footer   -->
<%include partials/_footer_content.ejs%>
   
<%include partials/_footer_script.ejs%>

</body>
</html>