<!DOCTYPE html>
<html >
<head>
  <% include ../partials/_header.ejs%>
</head>

<body style="">
<!-- NavBar  -->
<% include ../partials/_navbar1.ejs%>

<!--User Dashboard-->
<% include partials/internships.ejs%>


 <!-- Footer   -->
<% include ../partials/_footer_content.ejs%>
<% include ../partials/_footer_script.ejs%>
<script src="../../scripts/start.js"></script>
<script>init();</script>
</body>
</html>
