<section id="about">
    <div class="container">
       <header id="about-header">About Us</header>
        <div class="row">
            <div class="col-md-4 about-image">
                <img src="" alt="" class="">
            </div>
            <div class="col-md-8 about-content">
                eDC is the Entrepreneurial Club of IIT Delhi managed and run by a set of enthusiastic students aiming to create a sustainable and diverse entrepreneurial ecosystem where the young and elderly can come together to take Entrepreneurship a step ahead in India.
                <header id="vision">
                    Our Vision
                </header>
                Entrepreneurship in India is yet to reveal its hidden potential. It will not only help India to frontier with the world leaders but also unlock the quality of brains that we are so proud of. With this idea, the Entrepreneurship Development Cell of IIT Delhi (eDC) wishes to inculcate and enrich the entrepreneurial environment in India by creating an easily accessible and exhaustive set of resources for the entrepreneurs as well as the students, the budding professionals, mentors, angel investors and the venture capitalists through various fun-filled yet educating sessions such as Startup Showcases, competitions, eTalks and so on and so forth.
            </div>
        </div>
    </div>
</section>