<section id="banner">
    <div class="container">
        <div id="banner-image">
            <figure>
                <div class='banner-div' style="background-image:url(../../assets/images/carousel-1.jpg);">
                    <div class="banner-text">
                        <div class="hero-text">Lorem Ipsum</div>
                        <div class="sub-text">
                            consectetur adipisicing elit Quas consequuntur assumenda et saepe dignissimos non officia tempora
                        </div>
                    </div>
                </div>
                <div class='banner-div' style="background-image:url(../../assets/images/carousel-2.jpg);">
                    <div class="banner-text">
                        <div class="hero-text">Lorem Ipsum</div>
                        <div class="sub-text">
                            consectetur adipisicing elit consectetur quam harum amet numquam nesciunt odit molestiae aperiam
                        </div>
                    </div>
                </div>
                <div class='banner-div' style="background-image:url(../../assets/images/carousel-3.jpg);">
                <div class="banner-text">
                        <div class="hero-text">Lorem Ipsum</div>
                        <div class="sub-text">
                            consectetur adipisicing elit cupiditate ratione voluptatem asperiores. Accusantium
                        </div>
                    </div>
                </div>
                <div class='banner-div' style="background-image:url(../../assets/images/carousel-4.jpg);">
                    <div class="banner-text">
                        <div class="hero-text">Lorem Ipsum</div>
                        <div class="sub-text">
                            consectetur adipisicing elit Pariatur, ea. Quas consequuntur assumenda et saepe dignissimos non officia
                        </div>
                    </div>
                </div>
                <div class='banner-div' style="background-image:url(../../assets/images/carousel-5.jpg);">
                <div class="banner-text">
                        <div class="hero-text">Lorem Ipsum</div>
                        <div class="sub-text">
                            consectetur adipisicing elit molestiae aperiam, at, cupiditate ratione voluptatem asperiores
                        </div>
                    </div>
                </div>
            </figure>
            <div href="/#about" id="down-button" class="animated infinite bounce"></div>
        </div>
    </div>
</section>