<div id="slides">
  <ul class="slides-container">
    <li>
      <img src="../../assets/images/carousel-1.jpg" alt="">
      <div class="banner-text-container" id="typed-strings">
          <h1>It's responsive.</h1>
          <div class="contrast">
            <p>
              Images are smartly centered in the viewport. Use your own media queries to control the layout of your content.
            </p>
          </div>
      </div>
      <span id="typed"></span>
    </li>
    <li>
      <img src="../../assets/images/carousel-2.jpg" alt="">
      <div class="banner-text-container">
          <h1>It's responsive.</h1>
          <div class="contrast">
            <p>
              Images are smartly centered in the viewport. Use your own media queries to control the layout of your content.
            </p>
          </div>
      </div>
    </li>
    <li>
      <img src="../../assets/images/carousel-3.jpg" alt="">
      <div class="banner-text-container">
          <h1>It's responsive.</h1>
          <div class="contrast">
            <p>
              Images are smartly centered in the viewport. Use your own media queries to control the layout of your content.
            </p>
          </div>
      </div>
    </li>
  </ul>
  <nav class="slides-navigation">
      <a href="#" class="next">
        <i class="icon-chevron-right"></i>
      </a>
      <a href="#" class="prev">
        <i class="icon-chevron-left"></i>
      </a>
  </nav>
</div>

