<section id="counter" class="parallax" style="background-image:url(../../assets/images/front-page-counter.jpg);">
    <div class="container">
        <div class="row">
            <div class="counter-value col-xs-4 col-md-4 col-sm-4" data-count="740">450
            </div>
            <div class="counter-value col-xs-4 col-md-4 col-sm-4" data-count="370">120
            </div>
            <div class="counter-value col-xs-4 col-md-4 col-sm-4" data-count="545">110
            </div>
        </div>
    </div>
</section>