<section id="programs">
    <div class="container-fluid">
       <header id="programs-header">Our Programs</header>
        <div class="row">
           <div id="program_text" class="col-md-5 col-sm-12 col-xs-12">
               <div id="s1" class="row non-highlight highlight">
                   <div class="uppertext">Startup 101</div>
                   <div class="lowertext">Aimed at inspiring people who are new to Entrepreneurship to take it up as a career choice, this program intends to foster the spirit of Entrepreneurship among the student community through memoirs of successful businessmen, panel discussions and case study challenges.</div>
               </div>
               <div id="s2" class="row non-highlight">
                   <div class="uppertext">Startup 201</div>
                   <div class="lowertext">This program is directed towards people who are already into the Startup Bandwagon and intend to start a business of their own. Through a series of 8 lectures, this initiative wishes to enhance the knowledge of these wantrepreneurs. Loosely based on ‘How to start a Startup Course’ by Y Combinator, this program is being held once a week in association with Ivy Cap Ventures.</div>
               </div>
               <div id="fd" class="row non-highlight">
                   <div class="uppertext">Founder Diaries</div>
                   <div class="lowertext">This year, eDC is launching ‘Founder Diaries’, a one of its kind initiatives where seasoned founders who are also alumni of IIT Delhi share their Startup and Product journey with students and early stage Entrepreneurs thus inspiring them to do something big in their own lives.</div>
               </div>
           </div>
           <div id="programs_image"class="col-md-offset-1 col-md-6 col-sm-12 col-xs-12"></div>
           <div class="nav-buttons clearfix">
                   <div class="prev"></div>
                   <div class="next"></div>
           </div>
        </div>
    </div>
</section>