<section id="programs">
        <div class="container-fluid">
          <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
            <!-- <header id="program-header">Our Programs</header> -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="slide-content">
                  <img src="../../assets/images/carousel-2.jpg" alt="">
                  <div class="slide-overlay door">
                    <div class='title'>Startup 101</div>
                    <div class="description">Aimed at inspiring people who are new to Entrepreneurship to take it up as a career choice, this program intends to foster the spirit of Entrepreneurship among the student community through memoirs of successful businessmen, panel discussions and case study challenges.</div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slide-content">
                  <img src="../../assets/images/carousel-1.jpg" alt="">
                  <div class="slide-overlay door">
                    <div class='title'> Startup 201 </div>
                    <div class="description">This program is directed towards people who are already into the Startup Bandwagon and intend to start a business of their own. Through a series of 8 lectures, this initiative wishes to enhance the knowledge of these wantrepreneurs. Loosely based on ‘How to start a Startup Course’ by Y Combinator, this program is being held once a week in association with Ivy Cap Ventures.</div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slide-content">
                  <img src="../../assets/images/carousel-2.jpg" alt="">
                  <div class="slide-overlay door">
                    <div class='title'>Founder Diaries</div>
                    <div class="description">This year, eDC is launching ‘Founder Diaries’, a one of its kind initiatives where seasoned founders who are also alumni of IIT Delhi share their Startup and Product journey with students and early stage Entrepreneurs thus inspiring them to do something big in their own lives.</div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slide-content">
                  <img src="images/carousel-3.jpg" alt="">
                  <div class="slide-overlay door">
                    <div class='title'>Startup 301</div>
                    <div class="description">A mentorship program planned for people having Startups, we intend to help them in their endeavours by bringing together Alumni, Venture Capitalists and Domain Experts on board thereby facilitating their performance.</div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slide-content">
                  <img src="images/carousel-1.jpg" alt="">
                  <div class="slide-overlay door">
                    <div class='title'>Innovation Grand Challenge</div>
                    <div class="description">A Business Challenge for students, we aim to foster their technical skills and capabilities through this competition.</div>
                  </div>
                </div>
              </div>
            </div>
  
            <a class="carousel-control left" href="#carousel" role="button" data-slide="prev">
            <i class="icon-chevron-left glyphicon glyphicon-chevron-left"></i>
            </a>
  
            <a class="carousel-control right" href="#carousel" role="button" data-slide="next">
            <i class="icon-chevron-right glyphicon glyphicon-chevron-right"></i>
            </a>
        </div>
      </div>  
    </section>
