    <section id="team" class="section">
      <div class="main-container">
        <header class="section__header">
          <h2 class="title section__title">Our Team</h2>
          <span class="section__hint">Coming togetheris a beginning Keeping together is a progress and Working together is a success</span>
        </header>
        <div class="section__content teamy-team">
          <article class="teamy teamy_style1 teamy_mask-circle teamy_zoom-photo">
            <div class="teamy__layout">
              <div class="teamy__preview">
                <img src="https://stas-melnikov.ru/cliparts/girl4_424x640.jpg" class="teamy__avatar" alt="The demo photo">
              </div>
              <div class="teamy__back">
                <div class="teamy__back-inner">
                  <a href="#0" class="social">
                    <i class="social__icon fa fa-phone" area-hidden="true"></i>
                    <span class="social__name">Call</span>
                  </a>
                  <a href="#0" class="social">
                    <i class="social__icon fa fa-facebook" area-hidden="true"></i>
                    <span class="social__name">Facebook</span>
                  </a>
                  <a href="#0" class="social">
                    <i class="social__icon fa fa-linkedin" area-hidden="true"></i>
                    <span class="social__name">LinkedIn</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="teamy__content">
              <h3 class="teamy__name">Name</h3>
              <span class="teamy__post">Designation</span>
            </div>
          </article>
          <article class="teamy teamy_style1 teamy_mask-circle teamy_zoom-photo">
            <div class="teamy__layout">
              <div class="teamy__preview">
                <img src="https://stas-melnikov.ru/cliparts/girl5_424x640.jpg" class="teamy__avatar" alt="The demo photo">
              </div>
              <div class="teamy__back">
                <div class="teamy__back-inner">
                  <a href="#0" class="social">
                    <i class="social__icon fa fa-phone" area-hidden="true"></i>
                    <span class="social__name">Call</span>
                  </a>
                  <a href="#0" class="social">
                    <i class="social__icon fa fa-facebook" area-hidden="true"></i>
                    <span class="social__name">Facebook</span>
                  </a>
                  <a href="#0" class="social">
                    <i class="social__icon fa fa-linkedin" area-hidden="true"></i>
                    <span class="social__name">LinkedIn</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="teamy__content">
              <h3 class="teamy__name">Name</h3>
              <span class="teamy__post">Designation</span>
            </div>
          </article>
          <article class="teamy teamy_style1 teamy_mask-circle teamy_zoom-photo">
            <div class="teamy__layout">
              <div class="teamy__preview">
                <img src="https://stas-melnikov.ru/cliparts/girl3_424x640.jpg" class="teamy__avatar" alt="The demo photo">
              </div>
              <div class="teamy__back">
                <div class="teamy__back-inner">
                  <a href="#0" class="social">
                    <i class="social__icon fa fa-phone" area-hidden="true"></i>
                    <span class="social__name">Call</span>
                  </a>
                  <a href="#0" class="social">
                    <i class="social__icon fa fa-facebook" area-hidden="true"></i>
                    <span class="social__name">Facebook</span>
                  </a>
                  <a href="#0" class="social">
                    <i class="social__icon fa fa-linkedin" area-hidden="true"></i>
                    <span class="social__name">LinkedIn</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="teamy__content">
              <h3 class="teamy__name">Name</h3>
              <span class="teamy__post">Designation</span>
            </div>
          </article>
        </div>
        <a href="/team"><button class="draw full_team">Full Team</button></a>
      </div>
    </section>