<!DOCTYPE html>
<html >
<head>
  <% include ../partials/_header.ejs%>
</head>

<body style="background:url('../../assets/images/carousel-1.jpg');">
<!-- NavBar -->
<% include ../partials/_navbar1.ejs%>

<!-- login/signup section -->
<% include partials/login_partials.ejs%>
 
 
 <!-- Footer   -->
<% include ../partials/_footer_content.ejs%>
  
<% include ../partials/_footer_script.ejs%>
</body>
</html>
