<section id="dashboard">
<div class="container-fluid">
    <header>Dashboard</header>
    <div class="row">
        <div class="options col-md-2 col-sm-2 xs-hidden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <span><a href="/company/postIntern">Post an Internship</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Upcoming Events</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Account Details</span>
                    </div>
                </div>
            </div>
        </div>
        <div id='list' class="internships col-md-10 col-sm-10 col-xs-12">
<!--
            <div id="default-text">
                <span>Zero Internships posted yet</span>
            </div>
-->
        <!--<div class="individual-intern">
                <div class="container-fluid">
                   <header>
                       <div class="job-title">
                           Full-Stack Developer
                       </div>
                   </header>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Date</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="work col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Profile</div>
                            <div class="content">Web Developer</div>
                        </div>
                        <div class="status col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Status</div>
                            <div class="content">Approved</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Deadline</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="individual-intern">
                <div class="container-fluid">
                   <header>
                       <div class="job-title">
                           Full-Stack Developer
                       </div>
                   </header>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Date</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="work col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Profile</div>
                            <div class="content">Web Developer</div>
                        </div>
                        <div class="status col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Status</div>
                            <div class="content">Approved</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Deadline</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="individual-intern">
                <div class="container-fluid">
                   <header>
                       <div class="job-title">
                           Full-Stack Developer
                       </div>
                   </header>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Date</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="work col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Profile</div>
                            <div class="content">Web Developer</div>
                        </div>
                        <div class="status col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Status</div>
                            <div class="content">Approved</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Deadline</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="individual-intern">
                <div class="container-fluid">
                   <header>
                       <div class="job-title">
                           Full-Stack Developer
                       </div>
                   </header>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Date</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="work col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Profile</div>
                            <div class="content">Web Developer</div>
                        </div>
                        <div class="status col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Status</div>
                            <div class="content">Approved</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Deadline</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="individual-intern">
                <div class="container-fluid">
                   <header>
                       <div class="job-title">
                           Full-Stack Developer
                       </div>
                   </header>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Date</div>
                            <div class="content">17 Oct '17</div>
                        </div>
                        <div class="work col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Profile</div>
                            <div class="content">Web Developer</div>
                        </div>
                        <div class="status col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Status</div>
                            <div class="content">Approved</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="title">Start Date</div>
                            <div class="content">1 Jan - 29 Jan'18</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="title">Deadline</div>
                            <div class="content">15 Dec'17</div>
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-md-3 col-sm-4 col-xs-4 pull-right">
                            <button class="pull-right">View Details</button>
                        </div>
                    </div>
                </div>
            </div>  -->
        </div>
    </div>
</div>
</section>